.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 40px;
    padding: 40px;
    justify-content: center;

}
@media(max-width:560px){
    .container{
        grid-template-columns: 100%;
    }
}

.title{
    margin-top: 20px;
    text-align: center;
    font-size: 3rem;
    color: violet;
  }